<div class='__result'>
  <div class=" __header">
    <div class="__word">
      {{word}}
    </div>
    <div class="__audio_container">
      {{#each phonetic}}
      <div class="__audio_item">
        <span class=" __type">{{this.type}} </span>
        <div class="__phonetic_symbol">
          [{{this.text}}]
          <audio controls class="__source">
            <source src="https:{{filename}}" type="audio/mp3">
          </audio>
        </div>
        {{!-- &nbsp;&nbsp;&nbsp;&nbsp; --}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="__hint"></div>
  <div class="__body">
    {{#each content}}
    <div class="__item">
      <div class=" __hover_show">{{this.zh}}</div>
      <div>
        <span>{{this.pos}}</span>
        {{this.en}}
      </div>
    </div>
    {{/each}}
  </div>
</div>