<div class='__result'>
  <div class=" __header">
    <div class="__word __tooltip">
      {{word}}
      <span class="__tooltiptext">{{dit}}</span>
    </div>
    <div class="__audio_container">
      {{#each phonetic}}
      <div class="__audio_item">
        <span class=" __type">{{this.type}} </span>
        <span class="__phonetic_symbol">[{{this.text}}]</span>
        <audio controls class="__source">
          <source src="https:{{filename}}" type="audio/mp3">
        </audio>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      {{/each}}
    </div>
  </div>
  <div class="__body">
    {{#each content}}
    <div class="__item">
      <span>{{this.pos}}</span>
      <div class="__tooltip">
        {{this.en}}
        <span class="__tooltiptext">{{this.zh}}</span>
      </div>
    </div>
    {{/each}}
  </div>
</div>